<aside id="sidebar" class="bg-white shadow-xl md:rounded-[15px] dark:bg-gray-900 w-64 space-y-6 py-7 px-2 absolute min-h-screen inset-y-0 left-0 transform -translate-x-full md:h-full md:relative md:translate-x-0 transition duration-200 ease-in-out">
    <!-- logo -->
    <p href="#" class="text-black dark:text-white flex justify-center items-center px-4">
        <button id="sidebarToggle" class="md:hidden block text-gray-500 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-md p-2">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
        <span class="text-2xl font-extrabold">Dashboard</span>
    </p>
    <!-- nav -->
    <nav>
        <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-violet-400 hover:text-white">Пользователи</a>
        <a href="/articles" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-violet-400 hover:text-white">Статьи</a>
        <a href="#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-violet-400 hover:text-white">Кейсы</a>
        <!-- Add more navigation links here -->
    </nav>
</aside>