<!DOCTYPE html>
<html lang="en">
  <head>
    <% include('../partials/header.ejs') %>
  </head>
  <body>
    <% if (locals.navigation && locals.navigation === true) { %> <%-
    include('./partials/navbar-main.ejs') %> <% } %>

    <main class="bg-gray-50 dark:bg-gray-900"><%- body %></main>
    <!-- Подключение JavaScript -->
  </body>
</html>
